extends layout

block content
  img(src="/images/logo.gif" class="logo")
  p Submit a Link
  div.form-group#submitbox
    form.form-inline
      input.form-text#linkinput
      button.btn.btn-secondary.btn-lg#submitlink submit
      br.clear