extends layout

block content
  img(src="/images/logo.gif" class="logo")
  center
    small a fake news aggregator
  div.form-group#submitbox
    
    form.form-inline
      p.instruction Submit a link you suspect to be fake news
      input.form-text#linkinput
      button.btn.btn-secondary.btn-lg#submitlink SUBMIT
      br.clear

  div.container-fluid
    div.row
      div.col-sm-12.col-md-6.col-lg-6.col-xl-6
        h4.display-4.center Today
          br 
          small= todaydate
      div.col-sm-12.col-md-6.col-lg-6.col-xl-6
        h4.display-4.center This Week